<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartshopping">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".main.QR_pop"
            android:exported="true" />
        <activity android:name=".intro.TutorialActivity" />
        <activity
            android:name=".product.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".intro.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.WithdrawalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.signup.ChangePwActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.signin.FindPwActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.signin.FindIdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.signup.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mypage.statistics.MonthlyStatisticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mypage.statistics.StatisticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.signin.PasswordPop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".product.ProductPop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.review.ReviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mypage.PurchaseListInqury"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mypage.MyPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.signin.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>